{{!-- via homeRoutes --}}
<body>
    <br>
    <div id="new-post-container" class="w-100 d-flex justify-content-center">
        <button id="new-post" class="btn btn-info fs-5 fw-bolder btn-block w-75">Create new post</button>
    </div> 
    <br>
    <br>
    {{!-- Loop through all rows of passed posts table, creating card for each --}}
    {{#each posts as |post|}}
    <div class="card">
        <div class="card-body">
            <div class="card-title row flex">
                <h3 class=>{{post.title}}</h3>
                <p class="">{{format_date post.date_created}} by {{post.user.username}} </p>
            </div>
            <p class="card-text ">{{post.body}}</p>
        </div>
    </div>
    <br>
    {{/each}}
</body>


<script src="./js/dash.js"></script>